{% extends 'basefront.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ID_Reservation</th>
                <th>ID_Demande</th>
                <th>Datereservation</th>
                <th>Heurereservation</th>
                <th>Quantitereserve</th>
                <th>Statusreservation</th>
                <th>Cas</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.IDReservation }}</td>
                <td>{{ reservation.IDDemande }}</td>
                <td>{{ reservation.datereservation ? reservation.datereservation|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.heurereservation ? reservation.heurereservation|date('H:i:s') : '' }}</td>
                <td>{{ reservation.quantitereserve }}</td>
                <td>{{ reservation.statusreservation }}</td>
                <td>{{ reservation.cas }}</td>
                <td>{{ reservation.commentaire }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation.front') }}">Create new</a>
{% endblock %}
