{# templates/admin/company/list.html.twig #}

{% extends 'admin/base.html.twig' %}

{% block title %}List of Companies{% endblock %}

{% block body %}
    <div class="container">
        <h1>List of Companies</h1>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Website</th>
                        <th>Country</th>
                        <th>Description</th>
                        <th>Actions</th> {# Add a new column for actions #}
                    </tr>
                </thead>
                <tbody>
                    {% for company in companies %}

                        <tr>
                            <td>{{ company.getIdC() }}</td>
                            <td>{{ company.getNomC() }}</td>
                            <td>{{ company.getAdresse() }}</td>
                            <td>{{ company.getNumTel() }}</td>
                            <td>{{ company.getMail() }}</td>
                            <td>{{ company.getSiteWeb() }}</td>
                            <td>{{ company.getPaysC() }}</td>
                            <td>{{ company.getDescriptionC() }}</td>
                            <td>
                                <a href="{{ path('company_show_one', {'id': company.getIdC()}) }}" class="btn btn-primary">Details</a>
                              <a href="{{ path('company_remove', {'id': company.getIdC()}) }}" class="btn btn-danger">Remove</a>


                            </td> {# Add action buttons for more details and removing company #}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
