{% extends 'admin/home/base.html.twig' %}



{% block body %}
    <div class="container">
        <h1>List of actualites</h1>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Date</th>
                        <th>Priorite</th>
                        <th>Categorie</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for actualite in actualites %}
                        <tr>
                            <td>{{ actualite.getId }}</td>
                            <td>{{ actualite.getTitre }}</td>
                            <td>{{ actualite.getDate ? actualite.getDate|date('Y-m-d') : '' }}</td>
                            <td>{{ actualite.getPriorite }}</td>
                            <td>{{ actualite.getCategorie }}</td>
                            <td>{{ actualite.getDiscription }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    
{% endblock %}
